<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Deeprun Performance Center{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
  <a href="{{ url_for('index') }}" class="logo">
    <div class="logo-img-wrap">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Deeprun Wildcats">
    </div>
    <div class="logo-text">
      <span class="name">Deeprun Performance</span>
      <span class="tagline">Strength Collective</span>
    </div>
  </a>

  <ul class="base-text">
    
      <li><a href="{{ url_for('communications') }}">Comms</a></li>
      <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      {% if session.get("type") == "Admin" %}
        <li><a href="{{ url_for('requests') }}">Requests</a></li>
      {% endif %}
      {% if "user" in session %}
        <li><a href="{{ url_for('login') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
    
  </ul>
</nav>

<main>
  {% block content %}{% endblock %}
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
